body {
  background-color: #7E8F7C;
  color: #3B3738;
  font-family: 'Amiri', serif;
}

nav {
  background-color: #3B3738;
  overflow:hidden;
}

nav ul li{
  background-color: #3B3738;
  display: block;
  border-right: 1px solid #FDF3E7;
  text-align: center;
  float: left;
}

h1 {
  background-color: #C63D0F;
  color: #FDF3E7;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10rem;
}

article {
  background-color: #FDF3E7;
  margin: 10px;
  padding: 10px;
  border-color: #3B3738;
  border: solid;
  border-width: 5px;
  border-radius: 25px;
}

aside {
  background-color: #FDF3E7;
  margin: 10px;
  border-color: #3B3738;
  border: solid;
  border-width: 5px;
  border-radius: 25px;
}
